canvas {
    margin-left: 300px;
    border:1px solid lightgray;
    background-image: url("https://i.imgur.com/rdgmZTo.gif?noredirect");
    background-repeat: no-repeat;
    background-size: 1000px;
}
#HighScore {
  margin-top: 150px;
}

.hback {
     background-image:url("https://vignette.wikia.nocookie.net/gtawiki/images/5/50/Wiki-background/revision/latest?cb=20181227145223");
	background-size: 600px;
	background-repeat: no-repeat;
}
@keyframes bgcolor {
    0% {
        background-color: lightblue
    }

    20% {
        background-color: aqua
    }

    40% {
        background-color: greenyellow
    }

    50% {
        background-color: yellow
    }

    60% {
        background-color: orange
    }

    80% {
        background-color: red
    }

    100% {
        background-color: purple
    }
}
body {
   	animation: bgcolor 5s infinite;
}
img {
	width:cover;
}

.aback {
     background-image:url("https://images.wallpaperscraft.com/image/grand_theft_auto_grand_theft_auto_online_gta_5_102136_1280x800.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.main_header {
 	padding: 60px;
    	text-align: center;
    	color: white;
	font-size: 18px;
}

#nav {
  height: 50px;
  width: 1500px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  padding-top: 30px;
  opacity: 0.9;
}
#navElements {
  font-size: 20px;
  line-height: 1;
}

