canvas {
    border:1px solid #d3d3d3;
    background-image: url("https://i.imgur.com/rdgmZTo.gif?noredirect");
    background-repeat: no-repeat;
    background-size: 1000px;
}
#HighScore {
  margin-top: 150px;
}

@font-face {
    font-family: 'pricedownblack';
    src: url('../font/pricedown-webfont.eot');
    src: url('../font/pricedown-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pricedown-webfont.woff') format('woff'),
         url('../font/pricedown-webfont.ttf') format('truetype'),
         url('../font/pricedown-webfont.svg#pricedownblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
   font-family: 'pricedownblack', Fallback, sans-serif;
}

.hback {
     background-image:url("https://images-na.ssl-images-amazon.com/images/I/41I%2BvcnXn-L.png");
	background-size: 600px;
	background-repeat: no-repeat;
}
@keyframes bgcolor {
    0% {
        background-color: lightblue
    }

    20% {
        background-color: aqua
    }

    40% {
        background-color: greenyellow
    }

    50% {
        background-color: yellow
    }

    60% {
        background-color: orange
    }

    80% {
        background-color: red
    }

    100% {
        background-color: purple
    }
}
body {
    animation: bgcolor 5s infinite;
}
